@media screen and (max-width: 1267px) {
    .main_banner img{
       top: 30%;
        width: 30%;
    }
    }
@media screen and (max-width: 1170px) {
    .owl-nav .owl-prev{
        position: absolute;
        left: 40px;
        top: -12%;
    }
    .owl-nav .owl-next{
        position: absolute;
        right: 40px;
        top: -12%;
    }
    .for_text h3:last-of-type {
        margin-bottom: 100px;
    }
    .best_sellers {
        padding-bottom: 60px;
    }
}
@media screen and (max-width: 992px) {
    .container{
        padding: 0 15px;
    }
    .best_sellers .container.owl-carousel{
        padding: 0;
    }
}
@media screen and (max-width: 862px) {
    header .logo {
               left: 71%;
    }
}


@media screen and (max-width: 767px) {
    .People .d-flex{
        flex-direction: column;
    }
    .Culture .d-flex{
        flex-direction: column;
        align-items: center;
    }
    .description{
        padding-bottom: 60px;
    }
    .Power .d-flex{
        flex-direction: column;
    }
    .best_sellers .d-flex{
        flex-direction: column;
        align-items: center;
    }

    .Interviewed .d-flex{
        flex-direction: column;
        align-items: center;
    }
    .Interviewed .card {
        margin-top: 0;
    }
    .Interviewed .card:first-of-type {
        margin-top: -188px;
    }
    .main_banner img{
        position: relative;
        width: 100%;
    }
    footer .d-flex:first-child{
        flex-direction: column;
        align-items: center;
    }
    .for_logo{
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 613px) {
    nav{
        display: none;
    }
    header .logo{
        position: relative;
        left: 0;
        margin-left: 0;
        top: 0;
    }
    .main_banner h1{
        font-size: 50px;
        line-height: 60px;
    }
}
@media screen and (max-width: 529px) {
    .Features .for_link{
        flex-direction: column;
        flex-wrap: nowrap;
    }
}
@media screen and (max-width: 428px) {
    footer .for_footer_links{
        flex-direction: column;
        align-items: center;
    }

}
@media screen and (max-width: 320px) {

}
