* {
    padding: 0;
    margin: 0;
}

header {
    background-color: white;
    padding: 7px 0;
}

.container {
    margin: auto;
    max-width: 1064px;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-right {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

header ul {
    list-style: none;
}

header nav li a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #1C1B1B;
    text-decoration: none;
}

header nav li {
    margin-right: 28px;
}

header li:first-of-type {
    margin-right: 16px;
}

header nav li:first-of-type {
    margin-right: 28px;
}

header li:last-of-type {
    margin-left: 7px;
}

header nav li:last-of-type {
    margin-left: 0;
}

header .container {
    position: relative;
}

header .logo {
    position: absolute;
    left: 50%;
    margin-left: -40px;
    top: 13px;
}

header li:last-of-type {
    margin-left: 7px;
}

header nav li:last-of-type {
    margin-left: 0;
}

header .container {
    position: relative;
}

header .logo {
    position: absolute;
    left: 50%;
    margin-left: -40px;
    top: 13px;
}

.main_banner {
    padding: 90px 0;
    background-color: #F0EFEB;
    position: relative;
}

.main_banner h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 42px;
}

.main_banner p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 26px;
}

.main_banner a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    display: inline-block;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 100px;
    padding: 7px 23px;
    text-decoration: none;
}

.main_banner img {
    position: absolute;
    right: 6%;
    top: 0;
}

.People {
    background: rgba(204, 204, 204, 0.3);
    padding-top: 76px;
    padding-bottom: 61px;
}

.People .for_img {
    max-width: 385px;
    margin-right: 50px;
}

.People .for_img img {
    width: 100%;
    display: block;
}

.People .description {
    max-width: 498px;
}

.People .description h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 31px;
}

.People .description p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 40px;
}

.People .description a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #000000;
}

.best_sellers {
    padding-top: 60px;
    padding-bottom: 248px;
    background: #FFFFFF;
}

.text-center {
    text-align: center;
}

.for_text {
    max-width: 642px;
    margin: auto;
}

.for_text h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

.for_text h3:first-of-type {
    margin-bottom: 27px;
}

.for_text h3:last-of-type {
    margin-bottom: 52px;
}

.for_text p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.for_text p:first-of-type {
    margin-bottom: 47px;
}

.for_text p:last-of-type {
    margin-bottom: 88px;
}

.card {
    max-width: 315px;
    text-align: center;
    padding-bottom: 52px;
}

.card p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}

.card p:first-of-type {
    font-weight: 700;
    margin-top: 27px;
    margin-bottom: 17px;
}

.card p:last-of-type {
    font-weight: 400;
    margin-bottom: 10px;
}

.card a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #000000;
}

.card img {
    width: 100%;
    display: block;
}

.Culture {
    background-color: rgba(204, 204, 204, 0.6);
    padding-top: 76px;
    padding-bottom: 51px;
}

.Culture .for_img {
    max-width: 385px;
    margin-left: 50px;
}

.Culture .for_img img {
    width: 100%;
    display: block;
}

.Culture .description {
    max-width: 513px;
    text-align: right;
}

.Culture .description h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 31px;
}

.Culture .description p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 40px;
}

.Culture .description a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #000000;
}

.Power {
    background-color: rgba(204, 204, 204, 0.3);
    padding-top: 76px;
    padding-bottom: 51px;
}

.Power .for_img {
    max-width: 385px;
    margin-right: 50px;
}

.Power .for_img img {
    width: 100%;
    display: block;
}

.Power .description {
    max-width: 498px;
}

.Power .description h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 31px;
}

.Power .description p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 40px;
}

.Power .description a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #000000;
}

.Features {
    background-color: #FFFFFF;
    padding-top: 190px;
    padding-bottom: 290px;
}

.p_features {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    margin-bottom: 69px;
}

.link_features {
    padding-bottom: 111px;
    flex-basis: 250px;
}

.link_features a {
    display: block;
    margin: auto;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.link_features a:hover {
    box-sizing: border-box;
    border: 3px solid #185bc8;
}

.link_features p {
    margin-top: 26px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}

.for_link {
    margin: auto;
    max-width: 926px;
    flex-wrap: wrap;
}

.link_1 a {
    background: #21F7EC;
}

.link_2 a {
    background: #33D3BC;
}

.link_3 a {
    background: #18A5C6;
}

.link_4 a {
    background: #D38F62;
}

.link_5 a {
    background: #F94C43;
}

.link_6 a {
    background: #D399FF;
}

.Features h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

.Interviewed {
    background-color: #F0F0F0;
}

.Interviewed .card {
    margin-top: -188px;
}

.Interviewed .card p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #000000;
}

.Interviewed .card p:first-of-type {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.6px;
    margin-top: 35px;
    margin-bottom: 40px;
}

.Interviewed .card p:last-of-type {
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    margin-bottom: 44px;
}

.Interviewed .card a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #000000;
}

.contact_form {
    padding-top: 79px;
    padding-bottom: 88px;
    background-color: #FFFFFF;
}

.contact_form form {
    max-width: 366px;
    margin: auto;
    flex-wrap: wrap;
}

.contact_form h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 9px;
}

.contact_form p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 26px;
}

.contact_form form input {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #A0A0A0;
    box-sizing: border-box;
}

.name {
    width: 153px;
    padding-top: 12px;
    padding-bottom: 11px;
    padding-left: 8px;
    margin-bottom: 18px;
    border: 1px solid #000000;
}

#post {
    width: 100%;
    padding-top: 13px;
    padding-bottom: 10px;
    padding-left: 8px;
    margin-bottom: 16px;
    border: 1px solid #000000;
}

.subscribe {
    padding: 7px 23px 10px;
    border-radius: 17px;
    color: #FFFFFF;
    background: #000000;
}

.for_input {
    width: 366px;
}
footer{
    padding-top: 51px;
    padding-bottom: 16px;
    background-color: #020202;
}

.for_logo{
    width: 129px;
}

.for_logo ul{
    margin-top: 37px;
}

.footer_links{
    width: 143px;
}
.footer_links li:first-of-type {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 36px;
}

footer ul{
    list-style: none;
}
footer ul a{
    text-decoration: none;
}
.footer_links a{

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 12px;
}
.footer_links li:last-of-type{
    margin-bottom: 20px;
}
.for_footer_links{
    width: 349px;
}
footer span{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}